#APP CONFIGURATIONS
APP_NAME=stayverse
APP_VERSION=1.0
APP_DESCRIPTION="Stayverse is a tri-functional application rendering services like apartments rides and chefs"
BASE_URL=http://localhost:3000

JWT_SECRET=your_jwt_secret_key

# DATABASE
DATABASE_URL=mongodb://localhost:27017/your_database_name

# MAIL CONFIGURATIONS
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=your_mail_username
MAIL_PASS=your_mail_password
MAIL_FROM=no-reply@example.com

#GOOGLE CLOUD PLATFORM
GCP_PROJECT_ID=your-google-id
GCP_KEY_FILE=your-private-key
GCP_BUCKET_NAME=your-bucket

#GOOGLE MAPS KEY
GOOGLE_MAPS_API_KEY=your_google_map_key

